# Environment variables
.env

# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# pytest cache
.pytest_cache/

# IDE
.idea/
.vscode/

# Test outputs
data/outputs/

# Test reports
reports/
